* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.root {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  border: 1px solid #DCDCDC;
  max-width: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

}

.menu-list {
  list-style: none;
  display: flex;
}

li {
  cursor: pointer;
  padding: 10px;
  border-right: 1px solid #DCDCDC;
}

p {
  padding-bottom: 10px;
}

fieldset {
  border: 1px solid #DCDCDC;
  margin-bottom: 10px;
  border-radius: 5px;
}

input {
  margin-left: 10px;
}

.input {
  padding: 5px;
}

.tab-content {
  display: none;
	background: #DCDCDC;
	padding: 0 15px;
  height: 212px;
  overflow-y: auto;
}

.active{
		display: inherit  !important;
}

.input {
  display: flex;
  justify-content: space-between;
}

.help {
  position: absolute;
  display: none;
  margin-left: 230px;
  font-size: 12px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  font-size: 13px;
}

button {
  padding: 10px;
}
