* {
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed;
  background-image: url('../img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  -min-height: 750px;
  -min-width: 725px;
}
/* Nav bar styles*/
nav {
  position: absolute;
  background-image: url('../img/nav-background.jpg');
  -height: 36px;
  -float: right;
  width: 100%;
  min-width: 725px;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  -display: inline-block;
  list-style: none;
  margin-right: 20px;
}

nav li {
  float: left;
  -text-align: center;
}

nav a {
  color: #60b5ed;
  display: inline-block;
  padding: 10px 10px 10px 12px;
  text-decoration: none;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

.menu a:hover {
  background-color: #4eabda;
  color: #fff;
}

.login-contact {
  background: #2e7ac4;
  background: -moz-linear-gradient(top, #51b1dc 0%, #3c8fce 50%, #2e7ac4 100%);
  background: -webkit-linear-gradient(top, #51b1dc 0%, #3c8fce 50%, #2e7ac4 100%);
  background: linear-gradient(to bottom, #51b1dc 0%, #3c8fce 50%, #2e7ac4 100%);
  border-bottom: 1px solid #4d9ed8;
  border-left: 0 1px solid #4d9ed8;
  border-right: 1px solid #4d9ed8;
  padding: 0 11px 0 13px;
}

.login-contact a {
  padding: 9px 3px 10px;
  text-decoration: underline;
}

.login-contact span {
  color: #fff;
}

.offers a,
.login-contact a {
  color: #fff;
}

.offers a {
  border-left: 1px solid #56a2dc;
  margin-top: 3px;
  padding-bottom: 0;
  padding-top: 5px;
}

.offers a::before {
  content: url('../img/flag-icon.png');
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
  padding-right: 10px;
  vertical-align: -50%;
  display: inline-block;
}

/* form styles */

.wrapper {
  width: 50%;
  -min-width: 560px;
  position: absolute;
  top:50%;
  left: 50%;
  -height: 50%;
  -width: 50%;
  min-width: 360px;
  transform: translate(-50%, -50%);
  /*
  height: 50%;
  position: absolute;
  width: 50%;
  min-width: 560px;
  top:50%;
  -bottom: 50%;
  -bottom: 0;
  left: 50%;
  -right: 0;
  margin: auto;
  transform: translate(-50%, -50%);
*/
}

.title {
  background-color: rgba(0, 0, 0, .63);
  color: #fff;
  font-size: 24px;
  height: 62px;
  margin-bottom: 2px;
  text-align: center;
}

.title span {
  display: block;
  padding: 17px 0 16px;
}

form {
  background-color: rgba(0, 0, 0, .63);
  height: 549px;
  overflow: auto;
}

form a {
  text-decoration: none;
}

.fb-btn {
  background: #3e5694;
  background: -moz-linear-gradient(top, #3e5694 0%, #354d89 50%, #344164 100%);
  background: -webkit-linear-gradient(top, #3e5694 0%, #354d89 50%, #344164 100%);
  background: linear-gradient(to bottom, #3e5694 0%, #354d89 50%, #344164 100%);
  border-radius: 3px;
  color: #fff;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  width: 275px;
}

.fb-btn-left {
  border-right: 1px solid #1f3d71;
  border-top: 1px solid #7389ae;
  border-top-left-radius: 3px;
  width: 40px;
}

.fb-btn-right {
  border-left: 1px solid #4c65a5;
  border-top: 1px solid #7389ae;
  border-top-right-radius: 3px;
  width: 235px;
}

.fb-btn-left i {
  font-size: 25px !important;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-top: 5px;
}

.fb-btn-right span {
  display: block;
  font-size: 15px;
  padding: 8px 0 8px 30px;
}

.fb-login {
  text-align: center;
  margin-top: 10px;
}

.caption {
  display: inline;
}

.bold {
  font-weight: bold;
}

.fb-login i {
  padding-left: 20px;
}

.separator {
  color: #999;
  margin: 23px 0 20px;
  text-align: center;
}

.line {
  background-color: #000;
  border-top: 1px solid #666;
  display: inline-block;
  height: 1px;
  margin: 0 6px 5px;
  width: 120px;
}

input {
  background-color: #000;
  border-bottom: 1px solid #494a49;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: #fff;
  display: block;
  font-size: 14px;
  height: 35px;
  margin: 0 auto;
  margin-bottom: 15px;
  outline: none;
  padding-left: 20px;
  width: 275px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #ccc;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;
}

input:focus {
  background-color: #1b5288;
  border-bottom: 1px solid #689bcc;
  box-shadow: 0 0 7px 1px rgba(47, 123, 197, 1), inset 0 0 5px 2px rgba(29, 26, 22, .2);
  color: #141414;
}

input:focus::-webkit-input-placeholder {
  color: #141414;
}

input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}
input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}
input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;
}

.chbx {
  display: inline-block;
  margin-left: 130px;
  margin-right: 5px;
  margin-top: 14px;
  vertical-align: middle;
  width: 20px;
}

.chbx:focus {
  box-shadow: none;
}

label {
  color: #ccc;
}

button {
  background: linear-gradient(to bottom, rgba(80, 174, 219, 1) 0%, rgba(58, 142, 205, 1) 50%, rgba(46, 122, 196, 1) 100%);
  border-bottom: 1px solid #3686ca;
  border-left: 1px solid #489cd5;
  border-radius: 3px;
  border-right: 1px solid #4c9dd7;
  border-top: 1px solid #67c6e6;
  -moz-box-shadow: 0 0 7px 1px rgba(47, 123, 197, 1);
  -webkit-box-shadow: 0 0 7px 1px rgba(47, 123, 197, 1);
  box-shadow: 0 0 7px 1px rgba(47, 123, 197, 1);
  color: #fff;
  display: block;
  font-size: 14px;
  height: 35px;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 150px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  box-shadow: none;
}

.hint {
  color: #ccc;
  display: block;
  font-size: 11px;
  line-height: 16px;
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

@media only screen and (max-height: 700px) {
  .wrapper {
    -transform: translate(-50%, calc(-50% + 20px));
    -margin-top:21px;
  }
}
/* for Firefox only */
@-moz-document url-prefix() {
  .login-contact a,
  nav a {
    padding-bottom: 9px;
  }
}
