@media all and (max-width: 478px) {

  .above-the-fold__phones,
  .footer__nav {
    display: none;
  }

  header {
    width: 320px;
  }

  .above-the-fold {
    height: 500px;
  }

  .above-the-fold__slider {
    background: none;
    height: 140px;
    margin-bottom: 70px;
  }

  .above-the-fold__slider-container {
    height: 200px;
    margin-top: 80px;
  }

  .above-the-fold__slider-content {
    width: 320px;
    height: auto;
  }

  .above-the-fold__slider-text {
    width: 210px;
    height: 60px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
  }

  .above-the-fold__first-heading {
    font-size: 36px;
  }

  .above-the-fold__second-heading {
    font-size: 18px;
  }

  .about-us__columns {
    width: 320px;
  }

  .about-us__content {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 170px;
  }

  .about-us__third-heading {
    margin-left: 25px;
  }
  .about-us__paragraph {
    height: 70px;
    overflow: hidden;
  }

  .about-us__read-more-link {
    margin-top: 20px;
    margin-right: 0;
  }

  .testimonials__container {
    width: calc(100% - 40px);
  }

  .testimonials__left-block {
    margin: 0 auto;
    width: calc(100% - 40px);
    min-width: 290px;
  }

  .testimonials__portrait {
    padding: 0;
    margin: 0;
  }

  .testimonials__message-wrap {
    width: calc(100% - 30px);
  }

  .testimonials__message-wrap {
    margin-left: 28px;
    margin-right: 28px;
    height: 275px;
  }

  .testimonials__message-wrap div {
    display: block;
    position: static;
    padding: 0;
    margin-bottom: 0px;
  }

  .testimonials__portrait {
    margin-left: -25px;
  }

  .testimonials__third-heading,
  .testimonials__third-heading_colored {
    margin-left: 0;
  }

  .testimonials__message-wrap h3 {
    display: block;
    font-size: 24px;
  }

  .testimonials__paragraph-left {
    margin-top: 0;
    padding-top: 0;
  }

  .testimonials__message-wrap div {

  }

  .testimonials__paragraph-left p {
    padding-top: 0;
    padding-right: 20px;
    overflow: hidden;
    height: 155px;
    margin-top: 0;
  }

  .above-the-fold__pins {
    padding-left: 40px;
  }

  .testimonials__right-block,
  .testimonials__content-right {
    width: calc(100% - 40px);
  }

  .testimonials__paragraph-right {
    width: 220px;
  }

  .testimonials__paragraph-right {
    width: 210px;
    height: 220px;
    font-size: 16px;
  }

  .sponsors {
    height: 410px !important;
  }

  .sponsors__logos {
    width: 240px !important;
  }

  .sponsors__logos div {
    margin-bottom: 60px !important;
  }

  .news {
    display: none;
  }

  footer {
    width: 100%;
  }

  .footer {
    width: 100%;
  }

  .footer__design-author {
    margin: 40px auto;
  }

  .testimonials__bullets {
    margin-right: 10px;
  }
}
