@media all and (max-width: 768px) {

  .above-the-fold__logo {
    display: block;
    margin: 0 auto;
    width: 160px;
  }

  header {
    -width: 480px;
    margin-bottom: 100px;
  }

  .above-the-fold__first-heading {
    font-size: 36px;
  }

  .above-the-fold__nav {
    position: absolute;
    z-index: 10;
    left: calc(50% - 122px);
    top: 130px;
    width: 245px;
    background-color: #6d507a;
    opacity: .9;
    border-radius: 10px;
    border: 1px solid #0f191f;
  }

  .above-the-fold__nav_block {
    display: block;
  }

  .above-the-fold__list-item {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 245px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    border-bottom: 1px solid #36283e;
    border-top: 1px solid #523f5a;
    line-height: 40px;
  }

  .above-the-fold__list-item:hover {
    box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
    background-color: rgba(0, 0, 0, 0.3);
  }

  .above-the-fold__nav-link {
    padding-bottom: 1px;
  }

   .above-the-fold__first-list-item {
    border-top: none;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }

  .above-the-fold__last-list-item {
    padding-left: 0;
    border-bottom: none;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
  }

  .above-the-fold__last-list-item a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .about-us__content {
    height: 165px;
    margin-bottom: 20px;
  }

  .about-us__columns {
    display: block;
   -margin-top: 40px;
  }
  .about-us {
    height: 600px;
  }

  .testimonials {
    width: 100%;
  }

  .testimonials__container {
    padding-top: 60px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: static;
    margin-bottom: 30px;
  }

  .testimonials__right-block {
    margin: 0 auto;
    width: calc(100% - 100px);
  }

  .testimonials__content-right {
    width: calc(100% - 50px);
    -margin-bottom: 130px;
  }

  .testimonials__forth-heading {
    width: 200px;
    overflow: hidden;
    height: 25px;
  }

  .testimonials__paragraph-right p {
    height: 24px;
    overflow-y: hidden;
    width: 100%;
  }

  .testimonials__triangle {
    display: none;
  }

  .sponsors {
    width: 100%;
    height: 231px;
  }

  .sponsors__logos {
    margin: 0 auto;
    height: 155px;
    width: 350px;
    margin-top: 38px;
    display: block;
  }

  .sponsors__logos div {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
    align-self: auto;
    float: left;
  }

  .sponsors__billabong {
    height: 64px;
    width: 104px;
    background-position: left;
    background-image: url('../img/sponsors2.png');
    background-position: 18px 0;
  }

  .dc {
    height: 64px;
    width: 104px;
    background-position: left;
    background-image: url('../img/sponsors2.png');
    background-position: -99px 0;
  }

  .skt {
    height: 64px;
    width: 104px;
    background-position: left;
    background-image: url('../img/sponsors2.png');
    background-position: -201px 0;
  }

  .awsm {
    height: 64px;
    width: 104px;
    background-position: left;
    background-image: url('../img/sponsors2.png');
    background-position: 390px 0;
  }

  .rvca {
    height: 64px;
    width: 104px;
    background-position: left;
    background-image: url('../img/sponsors2.png');
    background-position: 260px 0;
  }

  .vonzipper {
    height: 64px;
    width: 104px;
    background-image: none;
    background-position: left;
    background-image: url('../img/sponsors2.png');
    background-position: 132px 0;
  }

}
