@media all and (min-width: 479px) and (max-width: 768px) {

  footer,
  .news,
  .sponsors,
  .testimonials,
  .about-us {
    width: 100%;
  }

  .above-the-fold__slider-content,
  .about-us__columns,
  .testimonials__container,
  .news__container,
  .separator {
    min-width: 479px;
  }

.above-the-fold__slider-text {
  margin-left: 20px;
}

.above-the-fold__phones {
  margin-right: 20px;
}

  .testimonials__title {
    padding: 20px;
    margin-left: 20px;
  }

  .testimonials__third-heading {
    margin-left: 0px;
    display: block;
  }

  .testimonials__third-heading_colored {
    margin-left: 0px;
  }

  .testimonials__paragraph-left p {
    -margin-top: 95px;
  }

.testimonials__message-wrap {
  max-width: none;
  width: calc(100% - 40px);
}

  footer {
    height: 200px;
    display: block;
  }

  .footer__nav {
    height: 105px;
  }

  .footer__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;

  }

  .above-the-fold {
    height: 548px;
  }

  .above-the-fold__slider {
    margin-bottom: 20px;
  }

  .above-the-fold__slider,
  .above-the-fold__slider-content {
    height: 245px;
  }

  .above-the-fold__slider-text {
    width: 225px;
  }

  .above-the-fold__second-heading {
    font-size: 18px;
  }

  .above-the-fold__paragraph {
    display: none;
  }

  .above-the-fold__phones {
    height: 265px;
    width: 193px;
    background-size: 100%;
    margin-top: -5px;
    background-repeat: no-repeat;
  }

  .above-the-fold__play-btn {
    top: 105px;
    left: 100px;
    width: 50px;
    height: 50px;
    background-image: url('../img/play.png');
    background-size: cover;
    border-radius: 50px;
  }

  .above-the-fold__icon {
    font-size: 18px;
    top: 17px;
    left: 21px;
  }

  .news {
    -height: 670px;
  }

  .news__container {
    display: block;
    padding-top: 80px;
    padding-bottom: 80px;
    -padding-left: 20px;
    -padding-right: 20px;
    width: calc(100% - 40px);
    margin: 0 auto;
  }

  .news__container div {
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: calc(100% - 10px);
  }

  .footer {
    -width: 440px;
    display: block;
  }

  .footer__nav  {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__list-item {
    padding-left: 0;
    padding-right: 10px;
  }

  .footer__link {
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer__design-author {
    display: block;
    width: 135px;
    margin: 0 auto;
  }

  .above-the-fold__nav-link:hover {
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
  }

  .about-us__content {
    min-width: 440px;
    max-width: 750px;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
}

.about-us__columns {
    margin-top: 50px;
    margin-bottom: 50px;
}


}
