@media all and (min-width: 769px) and (max-width: 960px) {

  header {
    display: block;
    margin-bottom: 70px;
  }

  .above-the-fold,
  .about-us,
  .separator,
  .testimonials,
  .sponsors,
  .news,
  footer {
    width: 100%;
    min-width: 760px;
    max-width: 960px;
  }

  .above-the-fold {
    max-height: 800px;
  }

  .above-the-fold__logo,
  .above-the-fold__nav,
  .about-us__third-heading {
    margin-left: 10px;
  }

  .nav-first,
  .above-the-fold__nav-link,
  .above-the-fold__first-list-item {
    padding-left: 0;
  }

  .above-the-fold__slider-text {
    margin-left: 10px;
    max-width: 340px;
  }

  .above-the-fold__paragraph {
    overflow: hidden;
    max-height: 100px;
    margin-top: 20px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  .above-the-fold__slider {
    margin-bottom: 35px;
  }

  .above-the-fold__pins {
    float: right;
    margin-right: 140px;
  }

  .about-us__columns {
    color: #fff;
    display: flex;
    margin: 0 auto;
  }

  .about-us__content {
    margin-right: 10px;
    max-width: 284px;
    min-width: 248px;
  }

  .about-us__read-more-link {
    margin-right: 0;
  }

  .about-us__paragraph {
    margin-left: 42px;
  }


  .testimonials__left-block,
  .testimonials__right-block {
    margin-left: 20px;
  }

  .testimonials__container {
    display: flex;
    min-width: 728px;
  }

  .testimonials__message-wrap {
    min-width: 320px;
  }

  .testimonials__third-heading,
  .testimonials__third-heading_colored {
    display: block;
  }

  .testimonials__title {
    padding-top: 15px;
  }

  .testimonials__paragraph-left p {
    font-size: 15px;
    padding-right: 10px;
    padding-top: 20px;
  }

  .news__container div {
    min-width: 200px;
    margin-right: 30px;
  }

  footer {
    max-height: 200px;
  }

  .footer {
    margin-bottom: 100px;
  }

  .testimonials__third-heading_colored {
    display: block;
    margin-left: 30px;
  }

  .testimonials__paragraph-right p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .testimonials__bullets {
    margin-right: 10px;
    margin-top: 10px;
  }

  .news__left-column {
    margin-left: 10px;
  }

  .footer__list-item {
    padding: 0 10px 0 10px;
  }

  .footer__design-author {
    margin-top: 60px;
  }

  @-moz-document url-prefix() {
    .above-the-fold__paragraph {
      max-height: 92px;
      line-height: 23px;
    }

    .testimonials__paragraph-right h4 {
      line-height: 30px;
    }

    .testimonials__paragraph-right p {
      line-height: 30px;
      max-height: 30px;
      overflow-y: hidden;
    }
  }
}
