@media all and (max-width: 767px) {

  .logo {
    display: block;
    margin: 0 auto;
    width: 160px;
  }

  header {
    width: 480px;
    margin-bottom: 100px;
  }

  .slider-content-text h1 {
    font-size: 36px;
  }

  .nav-mobile {
    position: absolute;
    z-index: 10;
    left: calc(50% - 122px);
    top: 130px;
    width: 245px;
    background-color: #6d507a;
    opacity: .9;
    border-radius: 10px;
    border: 1px solid #0f191f;
  }

  .nav-mobile ul {
    display: block;
  }

  .nav-mobile li {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 245px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    border-bottom: 1px solid #36283e;
    border-top: 1px solid #523f5a;
    line-height: 40px;
  }

  .nav-mobile li:hover {
    box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav-mobile a {
    padding-bottom: 1px;
  }

   ul .nav-first {
    border-top: none;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }

  ul .nav-last {
    padding-left: 0;
    border-bottom: none;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
  }

  ul .nav-last a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .about {
    height: 165px;
  }

  .about-us-columns {
    display: block;
    margin-top: 40px;
  }
  .about-us {
    height: 600px;
  }
  .about {
    margin-bottom: 20px;
  }

  .testimonials-wrapper {
    width: 100%;
    height: 780px;
  }

  .testimonials-container {
    padding-top: 60px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: static;
  }

  .testimonials-right {
    margin: 0 auto;
    width: calc(100% - 100px);
  }

  .testimonials-right-content {
    width: calc(100% - 50px);
    margin-bottom: 130px;
  }

  .testimonials-paragraphs h4 {
    width: 200px;
    overflow: hidden;
    height: 25px;
  }

  .testimonials-paragraphs p {
    height: 24px;
    overflow-y: hidden;
    width: 220px;
  }

  .testimonials-message-triangle {
    display: none;
  }

  .sponsors {
    width: 100%;
    height: 231px;
  }

  .sponsors-logos {
    margin: 0 auto;
    height: 155px;
    width: 350px;
    margin-top: 38px;
    display: block;
  }

  .sponsors-logos div {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
    align-self: auto;
    float: left;
  }

  .billabong {
    height: 64px;
    width: 104px;
    background-position: left;
    background-image: url('../img/sponsors2.png');
    background-position: 18px 0;
  }

  .dc {
    height: 64px;
    width: 104px;
    background-position: left;
    background-image: url('../img/sponsors2.png');
    background-position: -99px 0;
  }

  .skt {
    height: 64px;
    width: 104px;
    background-position: left;
    background-image: url('../img/sponsors2.png');
    background-position: -201px 0;
  }

  .awsm {
    height: 64px;
    width: 104px;
    background-position: left;
    background-image: url('../img/sponsors2.png');
    background-position: 390px 0;
  }

  .rvca {
    height: 64px;
    width: 104px;
    background-position: left;
    background-image: url('../img/sponsors2.png');
    background-position: 260px 0;
  }

  .vonzipper {
    height: 64px;
    width: 104px;
    background-image: none;
    background-position: left;
    background-image: url('../img/sponsors2.png');
    background-position: 132px 0;
  }

}
