@media all and (max-width: 480px) {

  .above-the-fold__phones,
  .footer__nav {
    display: none;
  }

  header {
    width: 320px;
  }

  .above-the-fold {
    height: 500px;
  }

  .above-the-fold__slider {
    background: none;
    height: 140px;
    margin-bottom: 70px;
  }

  .above-the-fold__slider-container {
    height: 200px;
    margin-top: 80px;
  }

  .above-the-fold__slider-content {
    width: 320px;
    height: auto;
  }

  .above-the-fold__slider-text {
    width: 210px;
    height: 60px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
  }

  .above-the-fold__first-heading {
    font-size: 36px;
  }

  .above-the-fold__second-heading {
    font-size: 18px;
  }

  .about-us__columns {
    width: 320px;
  }

  .about-us__content {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 170px;
  }

  .about-us__third-heading {
    margin-left: 25px;
  }
  .about-us__paragraph {
    height: 70px;
    overflow: hidden;
  }

  .about-us__read-more-link {
    margin-top: 20px;
    margin-right: 0;
  }

  .testimonials-container {
    width: calc(100% - 40px);
  }

  .testimonials-left {
    margin: 0 auto;
    width: calc(100% - 40px);
    min-width: 290px;
  }

  .testimonials-face {
    padding: 0;
    margin: 0;
  }

  .testimonials-message {
    width: calc(100% - 30px);
  }

  .testimonials-message {
    margin-left: 28px;
    margin-right: 28px;
    height: 275px;
  }

  .testimonials-message div {
    display: block;
    position: static;
    padding: 0;
    margin-bottom: 0px;
  }

  .pingbuller,
  .starts {
    margin-left: 0;
  }

  .testimonials-message h3 {
    display: block;
    font-size: 24px;
  }

  .message-content {
    margin-top: 0;
    padding-top: 0;
  }

  .testimonials-message div {

  }

  .message-content p {
    padding-top: 0;
    padding-right: 20px;
    overflow: hidden;
    height: 180px;
    margin-top: 0;
  }

  .above-the-fold__pins {
    padding-left: 40px;
  }

  .testimonials-right,
  .testimonials-right-content {
    width: calc(100% -40px);
  }

  .testimonials-paragraphs {
    width: 220px;
  }

  .testimonials-paragraphs h4 {
    width: 150px;
    overflow: hidden;
    height: 25px;
  }

  .sponsors {
    height: 410px;
  }

  .sponsors__logos {
    width: 240px;
  }

  .sponsors__logos div {
    margin-bottom: 60px !important;
  }

  .news {
    display: none;
  }

  footer {
    width: 100%;
  }

  .footer__design-author {
    margin: 40px auto;
  }

}
