* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'League Gothic', 'Helvetica', sans-serif;
}

.above-the-fold {
  background-image: url('../img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -background-size: cover;
  height: 845px;
  border-top: 1px solid rgba(1,1,1,0);
  border-bottom: 1px solid #33253a;
}

.about-us {
  height: 339px;
  background: linear-gradient(to bottom, rgba(116 ,80, 131, 1) 0%, rgba(50, 37, 57,1) 100%);
  border: 1px solid black;
}

.separator {
  height: 1px;
  background-color: #fff;
  box-shadow: 0 8px 6px -6px black;
}

.testimonials-wrapper {
  height: 486px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}

.sponsors {
  height: 118px;
  background-color: #f9f9f9;
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe;
}

.news {
  background-color: #ececec;
  height: 387px;
  border-top: 1px solid #d8d8d8;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,.9);
}

.above-the-fold,
.about-us,
.separator,
.testimonials-wrapper,
.sponsors,
.news,
footer {
  width: 100%;
}


footer {
  height: 114px;
  background-image: url('../img/background.jpg');
  background-position: center 1070px;
  filter: blur(5px);
}

header {
  align-items: center;
  display: flex;
  width: 960px;
  height: 36px;
  margin: 70px auto 180px auto;
  justify-content: space-between;
}

.logo a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 48px;

}

.white {
  color: #fff;
}

.logo-first {
  text-shadow: -1px 2px 1px rgba(0, 0, 0, .3);
}

.logo-last {
  background: -webkit-gradient(linear, left top, left bottom, from(#745083), to(#33263a));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  text-transform: uppercase;
  font-size: 24px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  padding: 0 20px 0 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 7px 2px 7px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .3);
}

nav a:hover {
  border-bottom: 2px solid #edbfff;
}

.nav-last {
  padding-right: 0;
}

.slider {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, .2);
  margin-bottom: 90px;
}

.slider-container {
  margin: 0 auto;
  -display: flex;
}

.slider-content {
  margin: 0 auto;
  width: 960px;
  -background-color: orange;
  height: 350px;
}

.left-arrow {
  align-self: center;
  -margin-left: 400px;
  -padding-right: 295px;
}

.right-arrow {
  align-self: center;
  -padding-left: 295px;
  -margin-right: 400px;
}

.slider i {
  color: #fff;
  font-size: 35px;
}

.phones {
  width: 1130px;
  height: 370px;
  background-image: url('../img/phones.png');
  margin-right: 75px;
  margin-left: 120px;
  margin-top: -20px;
  position: relative;
}

.slider-content {
  display: flex;
}

.slider-content-text {
  margin-top: 80px;
}

h1 {
  font-size: 60px;
  color: #fefefe;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 32px;
  color: #edbfff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.slider-content-text p {
  font-family: 'OpenSans', Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 100;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.play-btn {
  position: absolute;
  top: 150px;
  left: 135px;
  z-index: 1;
}

.phones i {
  position: absolute;
  top: 175px;
  left: 168px;
  z-index: 2;
  font-size: 26px;
}

.slider-pins {
  height: 17px;
  width: 96px;
  margin: 0 auto;
  display: flex;
}

.pin {
  height: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 12px;
  margin-left: 3px;
  margin-right: 3px;
  border: 3px solid rgba(0, 0, 0, .2);
  border-radius: 12px;
}

.pin-active {
  background-color: #fff;
  border: 3px solid rgba(0, 0, 0, .8);
}

.about-us-columns {
  width: 950px;
  margin: 0 auto;
  display: flex;
  color: #fff;
  margin-top: 78px;
}

.about-us-columns p {
  font-family: 'OpenSans', Helvetica, sans-serif;
  font-size: 16px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
  margin-left: 57px;
}

.about {
  margin-right: 40px;
}

h3 {
  font-size: 30px;
  text-transform: uppercase;
  -padding-left: 50px;
  display: inline-block;
  margin-left: 30px;
}

.about a {
  margin-top: 25px;
  float: right;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 30px;
}

.about a:hover {
  text-shadow: rgb(255, 255, 255) 0px 0px 7px;
}

.about-icon {
  width: 30px;
  height: 27px;
  -background-color: orange;
  display: inline-block;
}

.key-icon {
  background-image: url('../img/blobs.png');
}

.message-icon {
  background-image: url('../img/blobs.png');
  background-position: -35px 0;
}

.music-icon {
  background-image: url('../img/blobs.png');
  background-position: -70px 0;
}

.testimonials-container {
  position: absolute;
  -background-color: orange;
  height: 320px;
  width: 960px;
  margin-top: 100px;
  left: calc(50% - 480px);
  display: flex;
}

.testimonials-left {
  height: 320px;
  width: 450px;
}

.testimonials-right {
  height: 320px;
  width: 450px;
  margin-left: 60px;
}

.testimonials-message {
  position: relative;
  background-color: #fff;
  height: 270px;
  width: 427px;
  margin-left: 23px;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
  z-index: 1;
}

.testimonials-message-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #ffffff transparent transparent;
  float: right;
  margin-right: 40px;
  margin-top: -2px;
  z-index: 10;
  position: relative;
}

.testimonials-face {
  position: absolute;
  height: 50px;
  width: 50px;
  -background-color: red;
  border-radius: 50px;
  margin-left: -25px;
  top: 20px;
  background-image: url('../img/face.png');
  clear: both;
  overflow: hidden;
}

.testimonials-message span {
  position: absolute;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.pingbuller {
  color: #454545;
}

.starts {
  margin-left: 7px;
  color: #edbfff;
}

.message-content p {
  position: relative;
  padding-top: 75px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'OpenSans', Helvetica, sans-serif;
  font-size: 16px;
  color: #454545;
}

.testimonials-pins {
  margin-top: 24px;
  cursor: pointer;
}

.testimonials-pins .pin {
  border: 1px solid #f0f0f0;
  background-color: #fff;
  position: relative;
}

.inner-dot {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: gray;
  border: 1px solid #555555;
  margin: 0 auto;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  background: linear-gradient(to bottom, rgba(136, 136, 136, 1) 0%, rgba(70, 70, 70, 1) 100%);
}

.hidden {
  display: none;
}

.testimonials-right h3 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.testimonials-right-content {
  display: flex;
  width: 435px;
  height: 220px;
}

.testimonials-bullets {
  width: 50px;
  height: 180px;
  margin-right: 15px;
}

.testimonials-paragraphs {
  width: 370px;
  height: 220px;
}

.bullet {
  width: 47px;
  height: 47px;
  border-radius: 47px;
  margin-bottom: 19px;
}

.bull-1 {
  background-image: url('../img/bullets.png');
  background-position: -.5px -2.5px;
}

.bull-2 {
  background-image: url('../img/bullets.png');
  background-position: -.5px -52.5px;
}

.bull-3 {
  background-image: url('../img/bullets.png');
  background-position: -.5px -103.5px;
}

.testimonials-paragraphs {
  font-family: 'OpenSans', Helvetica, sans-serif;
  color: #454545;
}

.testimonials-paragraphs h4 {
  font-weight: 800;
}

.testimonials-paragraphs p {
  font-weight: 100;
  letter-spacing: -.4px;
  margin-bottom: 20px;
}

.testimonials-paragraphs a {
  float: right;
  padding-right: 10px;
  font-family: 'League Gothic', Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #454545;
}

.sponsors-logos {
  margin: 0 auto;
  height: 64px;
  width: 777px;
  margin-top: 25px;
  display: flex;
}

.sponsors-logos div {
  margin-right: 60px;
  align-self: center;
}

.billabong {
  height: 64px;
  width: 78px;
  background-image: url('../img/sponsors.png');
}

.dc {
  height: 64px;
  width: 75px;
  background-image: url('../img/sponsors.png');
  background-position: -85px 0;
}

.skt {
  height: 64px;
  width: 70px;
  background-image: url('../img/sponsors.png');
  background-position: -155px 0;
}

.awsm {
  height: 64px;
  width: 55px;
  background-image: url('../img/sponsors.png');
  background-position: -234px 0;
}

.rvca {
  height: 64px;
  width: 104px;
  background-image: url('../img/sponsors.png');
  background-position: -290px 0;
}

.vonzipper {
  height: 61px;
  width: 80px;
  margin-right: 0 !important;
  background-image: url('../img/sponsors.png');
  background-position: -404px -3px;
}

.news-container {
  margin: 100px auto 0 auto;
  height: 200px;
  width: 960px;
  border: 1px solid red;
  display: flex;
}

.news-container div {
  width: 280px;
  height: 200px;
  background-color: gray;
}

.news-1, .news-2 {
  margin-right: 60px;
}

.news-1 {
  display: flex;
  text-transform: uppercase;

}

.news-1 h1 {
  font-size: 48px;
  color: #454545;
}

.news-1 .er {
  color: #b9b9b9;
}
