* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Lucida Sans Unicode", "Times New Roman";
}

.wrapper {
  background-color: rgba(255, 0, 0, 0.1);
  margin: 0 auto;
  height: 100vh;
  width: 1000px;
}

header {
  padding-top: 18px;
}

.upper {
  margin-left: 6px;
  margin-right: 6px;
  -background-color: blue;
  display: flex;
  position: relative;
  align-items: center;
}

.phone {
  background-color: green;
  height: 21px;
  width: 21px;
  border-radius: 21px;
  background: linear-gradient(to bottom, rgba(44, 77, 109,1) 0%, rgba(30,101,132,1) 100%); /* w3c */
  margin-left: 46px;
  display: flex;
  align-items: center;
  display: flex;
  margin-top: 4px;
}

.phone i {
  color: white;
  margin: 0 auto;
  display: block;
  transform: rotate(18deg);
  font-size: 20px;
}

.phone-number {
  color: #5e696d;
  font-family: Arial, sans-serif;
  font-size: 18px;
  padding-left: 4.5px;
  letter-spacing: .45px;
  padding-top: 5px;
}

form {
  background: linear-gradient(to bottom, rgba(21,103,135,1) 0%, rgba(12,51,87,1) 100%);
  display: flex;
  height: 25px;
  margin-left: 15px;
  -margin-bottom: 2px;
  border-radius: 3px;
  position: relative;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.55);
  padding-bottom: 3px;
}
form a {
  font-size: 11px;
  padding-top: 6px;
  text-decoration: none;
  margin-left: 2px;
  color: #fff;
}


fieldset::before {
  content: url(../img/user.png);
  padding-left: 6px;
  vertical-align: middle;
  display: inline-block;
  padding-top: 5px;
}

fieldset input {
  width: 111px;
  height: 16px;
  -margin-right: 2px;
  padding-left: 3px;
  line-height: 16px;
  border: 1px solid #82949c;
}

.registration {
  -border-left: 1px solid black;
  -margin-top: 1px;
  -margin-bottom: 6px;
  -padding-top: 3px;
  -padding-left: 5px;
  margin-left: 1.5px;
  letter-spacing: -.25px;
}

.registration::before {
  content: '|';
  padding-right: 4px;
}

.forgot-pass {
  font-size: 12px;
  color: #bfbfbf;
  text-decoration: underline;
  margin-left: 21px;
  margin-right: 10px;
}

.communication {
  width: 76px;
  margin-left: 17px;
  height: 20px;
  margin-bottom: 4px;
  border-radius: 10px;
  border: 1px solid #c1c8cb;
  display: flex;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.2);
}

.communication i {
  color: #76848a;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 12px;
  -margin: 0 auto;
  padding-top: 2px;
}

.communication .first {
  margin-left: 6px;
  margin-right: 3px;
}

.communication .last {
  font-size: 10px;
  margin-top: 1px;
  padding-left: 8px;
}

.above-the-fold {
  position: relative;
  height: 237px;
  background-color: magenta;
  margin-left: 46px;
  margin-right: 46px;
  margin-top: 9px;
  background: url(../img/above-the-fold.jpg);
}

.above-the-fold a {
  width: 265px;
  height: 120px;
  position: absolute;
  margin-top: 50px;
}

nav {
  height: 33px;
  background: linear-gradient(to bottom, rgb(77, 86, 99) 0%, rgb(40, 44, 48) 19%, rgb(2, 2, 2) 97%, rgb(1, 1, 1) 100%);
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 6px;
  border-radius: 3px;
  border: 1px solid #2c345a;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.5);
}

nav ul {
  list-style-type: none;
  margin-left: 126px;
  vertical-align: middle;
  display: flex;
}

nav a {
  color: #82949c;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13.65px;
  padding-left: 20px;
  padding-right: 16px;
  padding-top: 3px;
}

.second-child {
  padding-left: 19px;
}

.third-child {
  padding-left: 14px;
  padding-right: 14px;
}

.fourth-child {
  padding-left: 13px;
  padding-right: 13px;
}

.fifth-child {
  padding-left: 13px;
  padding-right: 12px;
}

nav a:hover {
  background: linear-gradient(to bottom, rgba(37,97,123,1) 0%, rgba(9,35,59,1) 100%);
  border-radius: 10px;
  color: #fff;
}

.nav-right {
  margin-left: 40px;
}

.nav-right span{
  font-family: Arial, sans-serif;
  text-transform: none;
  font-size: 11px;
  color: #82949c;
  letter-spacing: .4px;
}

.nav-right a:hover {
  background: none;
}

.nav-right i {
  padding-left: -3px;
  -padding-top: 3px;
  -padding-right: 8px;
  transform: scale(-1, 1);
  font-size: 18px;
  color: #25617b;
}

nav .price-amount {
  padding-left: 3px;
  font-size: 12px;
  color: #25617b;
}

nav .basket {
  margin-left: 8px;
  padding-right: 9px;
}

.total {
  padding-right: 8px;
}
